@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid tg-login-page">
    <div class="row no-gutters">
        <div class="d-none d-md-flex col-md-4 col-lg-6 tg-login-bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="tg-login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row"></div>
                    <div class="col-md-9 col-lg-8 mx-auto">
                        <h3 class="tg-login-heading mb-4">Sign In</h3>
                        <form>
                            <div class="form-group">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>